html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.logonav{
    width: 80px;
    height: 40px;
    margin-left: 10px;
}

.slognav{
    width: 100px;
    height: 50px;
}

.content {
    flex: 1;
}